/******************************
General
*******************************/

h1 {
	font-family: 'Roboto Condensed', sans-serif;;
	font-size: 1em;
}

img {
	max-width: 100%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}


header {
	background: #fff;
	float: left;
	width: 100%;
	margin: -20px 0 0 0;
	padding: 5px 0 0 0;
}

nav {

	text-align: right;
	margin: 20px 0 0;

	text-align: center;
	margin: 20px 0 50px 40px;

	font-weight: 800;
	padding: 15px 160px 10px 15px;
	float: right;
}


nav ul li{
	display: inline;
	margin: 5px 5px 5px 5px;
	padding: 0;
	color: purple;
}

nav a:hover {
	color: #fff;
}


/******************************
Class-styling
*******************************/
/**********************
Tijdelijk placeholder voor slider
***********************/
.home-slider  {
	width: 100%;
	background: rgb(52, 152, 219);;
	padding: 60px auto;
	float: right;
	text-align: center;
	display: inline-block;
	height: 100%;
	margin: 0 auto 40px;
}

/* Slider button style */
.slick-dots li button::before {
	font-size: 10px;
}

.slick-dots {
	bottom: 2px;
}

/*Slider content*/
.slide1 img {
	height: 50%;
	width: 50%;
	float: left;
}

.slide1 h2 {
	float: left;
	text-align: center;
	margin: 20px 0 20px 0;
}
